#body
	%h1 MASHUP CAN&Ccedil;&Atilde;O NOVA
	.columm
		%h2 assuntos do momento
		- reset_cycle 
		= render :partial => 'list_tags', :locals => { :tags => @data[:last_day]} 
	.columm
		%h3 Hot top da semana
		= render :partial => 'list_tags', :locals => { :tags => @data[:last_7_days]} 
	.columm
		- reset_cycle 
		%h4 os mais visitados de todos os tempos
		= render :partial => 'list_tags',  :locals => { :tags => @data[:all_time]}
	
	.clear

