<h1>Mashup + acessados</h1>


<div>
	<% reset_cycle -%>
	<%- 10.times do |n|
		entrie = @data.points[n]
		tag = entrie.title.gsub("ga:pageTitle=",nil.to_s).gsub("Mashup Canção Nova — cobertura online dos eventos da Canção Nova",nil.to_s).gsub("— Mashup Canção Nova",nil.to_s).gsub("Online Canção Nova",nil.to_s).gsub("— Mashup multimídia para a cobertura online dos eventos",nil.to_s).gsub("Mashup Canção Nova",nil.to_s).strip 
		
		next if tag.empty? 
		-%>
		<div class="<%= cycle("even", "odd") -%>">
			<p><%= tag%> <%= link_to "visualizar", :controller => "mashup", :action => "index" , :tag => tag%></p>
				<small>Pageviews 
					<%= entrie.metrics[0][:pageviews]%>
				</small>
		</div>
	<%- end-%>
</div>

