%div
	- if !feed.blank? 
		- reset_cycle 
		- feed.each do |entry|
			%div{:class => cycle("even", "odd")}
				- unless entry[5].nil? 
					%img{:src => entry[5], :class => "avatar", :width => "48", :height => "48" }
				%p
					= auto_link entry[2]
				%small
					= time_ago_in_words entry[3]
					= entry[1]

				= link_to truncate(entry[4], :length => 50,:ommision =>"..."), entry[4], :class => "origin"

	- else
		%small{:class => "no-entrie"}
			Nenhuma atualiza&ccedil;&atilde;o!