%div
	- if !feed.blank? 
		- reset_cycle 
		- feed.each do |entrie|
			%div{:class => cycle("even", "odd")}
				- if entrie.methods.include? "links" 
					%img{:src => entrie.links[1], :class => "avatar", :width => "48", :height => "48" }
				%p
					= auto_link entrie.content
				%small
					= time_ago_in_words entrie.published
					= entrie.author

				= link_to truncate(entrie.url, :length => 50,:ommision =>"..."), entrie.url, :class => "origin"

	- else
		%small{:class => "no-entrie"}
			Nenhuma atualiza&ccedil;&atilde;o!