<div class="cooliris"><object id="o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="760" height="450">
	<param name="movie" value="http://apps.cooliris.com/embed/cooliris.swf" />
	<param name="allowFullScreen" value="true" />
	<param name="allowScriptAccess" value="always" />
    <param name="flashvars" value="feed=http://mashup.cancaonova.com/<%=h @tags%>?format=mrss&style=light" />
	
	<embed type="application/x-shockwave-flash" src="http://apps.cooliris.com/embed/cooliris.swf" width="760" height="450" allowFullScreen="true" allowScriptAccess="always" flashvars="feed=http://mashup.cancaonova.com/<%=h @tags%>?format=mrss&style=light"></embed>

</object>
</div>
<br />
<p class="cooliris">Atrav&eacute;s do Cooliris o mashup disponibiliza outra op&ccedil;&atilde;o para visualizar as fotos e v&iacute;deos da Can&ccedil;&atilde;o Nova.</p><br />

<p class="cooliris">E tamb&eacute;m proporciona aos donos de sites ou blogs a possibilidade de inserir o conte&uacute;do do Mashup Can&ccedil;&atilde;o Nova em suas p&aacute;ginas e posts, utilizando o recurso EMBED do Cooliris.</p><br />

<p class="cooliris">Basta acessar essa p&aacute;gina com a tag desejada e clicar no botão embed nas op&ccedil;&otilde;es do cooliris</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6535463-1");
pageTracker._trackPageview();
} catch(err) {}</script>