%ol.tags
	- n = 0
	- m = 0
	- while n < 10
		- entrie = tags.points[m]
		- if entrie.nil?
			- m = m+1
			- if m < tags.points.size
				- next
			- else
				- return
		- tag = clean_tag entrie.title
		- if tag.empty? 
			- m = m+1
			- if m < tags.points.size
				- next
			- else
				- return
			
		- m = m+1
		- n = n+1
		%li{:class => cycle("odd", "even")}
			%p 
				= link_to tag, tag_path( tag )
				%small	
					visitas 
					= entrie.metrics[0][:pageviews]
