#body
	.toolbar
		%h1	Mashup CN
		%a{:class => "button slideup", :id => "infoButton", :href =>"#about"} About

	%ul 
		%li.arrow 
			= link_to "Microblog", {:controller => "tag" , :action => "microblog", :format => "iphone", :tag => "cancaonova"}
		%li.arrow 
			%a{:href => "#"} Bookmark
		%li.arrow
			%a{:href => "#"}Blog
		%li.arrow 
			%a{:href => "#"}Noticias
		%li.arrow 
			%a{:href => "#"}Video
		%li.arrow 
			%a{:href => "#"}Photos

	%ul
		%li.arrow 
			%a{:href=> "#tag_today"} Tags popular do dia
		%li.arrow 
			%a{:href=> "#tag_week"} Tags popular da semana
		%li.arrow
			%a{:href=> "#tag_king"} Tags campe&otilde;es de acesso

	%ul
		%li.arrow
			%a{:href=> "#search"} Pesquisar por tags
	
#tag_today
	.toolbar
		%h1	Tag do dia
		%a.back{ :href=>"#"} Mashup CN
		%a{:class => "button slideup", :id => "infoButton", :href =>"#about"} About
	= render :partial => 'list_tags', :locals => { :tags => @data[:last_day]} 

#tag_week
	.toolbar
		%h1	Tag da semana
		%a.back{ :href=>"#"} Mashup CN
		%a{:class => "button slideup", :id => "infoButton", :href =>"#about"} About
	= render :partial => 'list_tags', :locals => { :tags => @data[:last_7_days]} 

#tag_king
	.toolbar
		%h1	Tag campeã 
		%a.back{ :href=>"#"} Mashup CN
		%a{:class => "button slideup", :id => "infoButton", :href =>"#about"} About
	= render :partial => 'list_tags', :locals => { :tags => @data[:all_time]} 

#search
	.toolbar
		%h1	Pesquisar  
		%a.back{ :href=>"#"} Mashup CN

	%ul.rounded
		%form{ :method=>"get", :name=>"a-search", :action=>"/", :class=>"form"}
			%li
				%input{ :id=>"tag", :name=>"tag", :type=>"text", :placeholder=>"busque uma tag"}
	%a{:class => "submit whiteButton blueButton", :href =>"#"} Buscar
