#body
	%ul
		%li.arrow 
			Microblog
			%small.counter 3 
		%li.arrow 
			Bookmark
			%small.counter 1 
		%li.arrow
			Blog
			%small.counter 5 
		%li.arrow 
			Noticias
			%small.counter 2 
		%li.arrow 
			Video
			%small.counter 5 
		%li.arrow 
			Photos
			%small.counter 5 
	
	%ul
		%li.arrow 
			Tags popular hoje
			%small.counter 3 
		%li.arrow 
			Popular h&aacute; semanas
			%small.counter 1 
		%li.arrow
			Campe&otilde;es de acesso
			%small.counter 5 
