<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	  <title>Mashup Can&ccedil;&atilde;o Nova</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
</head>
	<body>
		<% if flash[:notice]-%>
			<div style="color:f33"><%= flash[:notice]%></div>
		<% end -%>		
	<%= yield%>	
</body>	
</html>	